node_modules/
dist/
build/
out/
.cache/
temp/
logs/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo

.env
.env.*
!.env.example

.pnp
.pnp.js
coverage/
firebase-debug.log

.firebase/
.firebaserc

.vscode/
.idea/
*.swp

Thumbs.db

package-lock.yaml
yarn.lock
pnpm-lock.yaml

*~
*.bak

.storybook-out/

test-output/
*.lcov
